# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Fyziik\OneDrive\Documents\Datamatiker\Python\spring2021-code-examples-from-teachings\ses1\classA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
